# Copyright (c) 2017, 0qdk4o. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[Unit]
Description=abegin service
After=network.target

[Service]
Type=simple
ExecStart=/home/go/bin/httpserver
KillMode=process
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
